<div class="search-container">
  <input
    type="search"
    class="search-input"
    placeholder="🔍 Search"
    aria-label="Search Notes"
  >
</div>

<h1 class="title">Notes</h1>

<div class="notecards">
  @for(note of Notes(); track note.id)
  {
     <app-note-card
     [note]="note"
     (edit)="updateNote(note)"
     (delete)="deleteNote(note.id)"></app-note-card>
  }
</div>


<app-note-modal>
  @if(noteModalOpen())
  {
    [note] = "selectedNote()"
    (submitNote)="onModalSubmit($event)"
    (cancel)="onModalCancel()"
  }
</app-note-modal>
